@import url("./variables.scss");
@import url("./mixins.scss");

.contact {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $grey;
  position: relative;
  padding: 2rem 2rem 10rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  & h1 {
    font-size: $fs-biggest;
    font-family: "VoyageBold";
    font-style: bold;
    color: $white;
  }
  &-social {
    display: flex;
    align-items: center;
    &_text {
      & h3,
      & h2 {
        font-size: $fs-normal;
        font-weight: 400;
        color: $white;
        margin-right: 1rem;
      }
    }
    & .instagram {
      font-size: $fs-big;
      color: $white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $green;
      }
    }
  }
  &-email {
    display: flex;
    align-items: center;
    &_text {
      margin-right: 1rem;
      & h3 {
        font-size: $fs-normal;
        font-weight: 400;
        color: $white;
      }
    }
    &_info {
      display: flex;
      align-items: flex-start;
      & .mail {
        font-size: 6rem;
        color: $white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $green;
        }
      }
      & h2 {
        font-size: 6.5rem;
        font-weight: 400;
        color: $green;
        line-height: 0.7;
        font-family: "Voyage";
      }
    }
  }
}
.image-model {
  position: absolute;
  bottom: 0;
  right: -5%;
  width: 500px;
  height: 800px;
  z-index: 2;
}
.circle {
  position: absolute;
  background-color: $white;
  border-radius: 50%;
  bottom: -15%;
  right: -7%;
  width: 600px;
  height: 600px;
  z-index: 1;
}
.circle-green {
  position: absolute;
  background-color: $green;
  border-radius: 50%;
  top: 0%;
  right: -7%;
  width: 600px;
  height: 500px;
  z-index: 1;
  display: none;
}

////MEDIA QUERIES///
@media screen and (max-width: 1650px) {
}
@media screen and (min-width: 1440px) and (max-width: 1649px) {
}
@media screen and (min-width: 1250px) and (max-width: 1439px) {
  .contact {
    & h1 {
      font-size: 8rem;
    }
    &-social {
      &_text {
        & h3,
        & h2 {
          font-size: 1.5rem;
        }
      }
      & .instagram {
        font-size: $fs-medium;
      }
    }
    &-email {
      &_text {
        & h3 {
          font-size: 1.5rem;
        }
      }
      &_info {
        & .mail {
          font-size: 4rem;
        }
        & h2 {
          font-size: 4.5rem;
        }
      }
    }
  }
  .image-model {
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 400px;
    height: 700px;
    z-index: 2;
  }
  .circle {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    bottom: -10%;
    right: -5%;
    width: 400px;
    height: 400px;
    z-index: 1;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1249px) {
  .contact {
    & h1 {
      font-size: 8rem;
    }
    &-social {
      &_text {
        & h3,
        & h2 {
          font-size: 1.5rem;
        }
      }
      & .instagram {
        font-size: $fs-medium;
      }
    }
    &-email {
      &_text {
        & h3 {
          font-size: 1.5rem;
        }
      }
      &_info {
        & .mail {
          font-size: 4rem;
        }
        & h2 {
          font-size: 4.5rem;
        }
      }
    }
  }
  .image-model {
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 380px;
    height: 600px;
    z-index: 2;
  }
  .circle {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    bottom: -10%;
    right: -3%;
    width: 400px;
    height: 400px;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact {
    & h1 {
      font-size: 6.5rem;
    }
    &-social {
      &_text {
        & h3,
        & h2 {
          font-size: 1.5rem;
        }
      }
      & .instagram {
        font-size: $fs-medium;
      }
    }
    &-email {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_text {
        & h3 {
          font-size: 1.5rem;
        }
      }
      &_info {
        & .mail {
          font-size: 4rem;
        }
        & h2 {
          font-size: 4.5rem;
        }
      }
    }
  }
  .image-model {
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 380px;
    height: 600px;
    z-index: 2;
  }
  .circle {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    bottom: -7%;
    right: -5%;
    width: 400px;
    height: 400px;
    z-index: 1;
  }
}
@media all and (min-width: 610px) and (max-width: 767px) {
  .contact {
    & h1 {
      font-size: 7rem;
    }
    &-social {
      &_text {
        & h3,
        & h2 {
          font-size: 1.2rem;
        }
      }
      & .instagram {
        font-size: $fs-medium;
      }
    }
    &-email {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_text {
        & h3 {
          font-size: 1.2rem;
        }
      }
      &_info {
        & .mail {
          font-size: 3.5rem;
        }
        & h2 {
          font-size: 3.5rem;
        }
      }
    }
  }
  .image-model {
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 280px;
    height: 500px;
    z-index: 2;
  }
  .circle {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    bottom: -15%;
    right: -10%;
    width: 350px;
    height: 350px;
    z-index: 1;
  }
}
@media all and (min-width: 480px) and (max-width: 609px) {
  .contact {
    & h1 {
      font-size: 7rem;
    }
    &-social {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_text {
        margin-bottom: 0.5rem;
        & h3,
        & h2 {
          font-size: 1rem;
        }
      }
      & .instagram {
        font-size: $fs-normal;
      }
    }
    &-email {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_text {
        & h3 {
          font-size: 1rem;
        }
      }
      &_info {
        & .mail {
          font-size: 3rem;
        }
        & h2 {
          font-size: 3.5rem;
        }
      }
    }
  }
  .image-model {
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 280px;
    height: 500px;
    z-index: 2;
  }
  .circle {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    bottom: -15%;
    right: -10%;
    width: 350px;
    height: 250px;
    z-index: 1;
  }
}
@media all and (min-width: 360px) and (max-width: 479px) {
  .contact {
    & h1 {
      font-size: 5.5rem;
    }
    &-social {
      display: flex;
      flex-direction: row;
      align-items: center;
      &_text {
        margin-bottom: 0.5rem;
        & h3,
        & h2 {
          font-size: 0.7rem;
        }
      }
      & .instagram {
        font-size: $fs-normal;
      }
    }
    &-email {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_text {
        & h3 {
          font-size: 0.7rem;
        }
      }
      &_info {
        & .mail {
          font-size: 2.5rem;
        }
        & h2 {
          font-size: 3rem;
        }
      }
    }
  }
  .image-model {
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 200px;
    height: 400px;
    z-index: 2;
  }
  .circle {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    bottom: -5%;
    right: -5%;
    width: 200px;
    height: 200px;
    z-index: 1;
  }
}
@media all and (min-width: 280px) and (max-width: 359px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    & h1 {
      font-size: 4rem;
    }
    &-social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      &_text {
        margin-bottom: 0.5rem;
        & h3,
        & h2 {
          font-size: 0.7rem;
        }
      }
      & .instagram {
        font-size: $fs-normal;
      }
    }
    &-email {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_text {
        & h3 {
          font-size: 0.7rem;
        }
      }
      &_info {
        & .mail {
          font-size: 2.5rem;
        }
        & h2 {
          font-size: 2.5rem;
        }
      }
    }
  }
  .image-model {
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 200px;
    height: 300px;
    z-index: 2;
  }
  .circle {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    bottom: -5%;
    right: 5%;
    width: 250px;
    height: 250px;
    z-index: 1;
  }
  .circle-green {
    position: absolute;
    background-color: $green;
    border-radius: 50%;
    top: 3%;
    right: -7%;
    z-index: 4;
    width: 150px;
    height: 150px;
    display: block;
  }
}
@media all and (max-width: 280px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    & h1 {
      font-size: 3.5rem;
    }
    &-social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      &_text {
        margin-bottom: 0.5rem;
        & h3,
        & h2 {
          font-size: 0.5rem;
        }
      }
      & .instagram {
        font-size: 1.5rem;
      }
    }
    &-email {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_text {
        & h3 {
          font-size: 0.5rem;
        }
      }
      &_info {
        & .mail {
          font-size: 2.1rem;
        }
        & h2 {
          font-size: 2.1rem;
        }
      }
    }
  }
  .image-model {
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 200px;
    height: 300px;
    z-index: 2;
  }
  .circle {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    bottom: -5%;
    right: 5%;
    width: 250px;
    height: 250px;
    z-index: 1;
  }
  .circle-green {
    position: absolute;
    background-color: $green;
    border-radius: 50%;
    top: 0%;
    right: -7%;
    z-index: 4;
    width: 100px;
    height: 100px;
    display: block;
  }
}
