//colors
$grey: #c6cac3;
$grey-heavy: #8b8e88;
$green: #2fff8f;
$black: #000000;
$white: #ffffff;
//font-weight
$fw-light: 300;
$fw-normal: 500;
$fw-heavy: 700;
$fw-heaviest: 900;
//font-size
$fs-tiny: 0.6rem;
$fs-small: 1rem;
$fs-normal: 2rem;
$fs-medium: 3rem;
$fs-big: 4rem;
$fs-bigger: 6rem;
$fs-biggest: 10rem;
//margin horizontally
$mrg-small: 0 2rem;
$mrg-normal: 0 4rem;
$mrg-big: 0 6rem;
$mrg-biggest: 0 8rem;
//margin vertically
$mrg-y-tiny: 1rem 0;
$mrg-y-small: 2rem 0;
$mrg-y-normal: 4rem 0;
$mrg-y-big: 6rem 0;
//padding
$pd-small: 0.3rem;
$pd-normal: 0.5rem;
$pd-big: 0.8rem;
$pd-biggest: 1rem;
